on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    # checkout the repo 
    - uses: actions/checkout@master
      
    - name: npm install, build, and test
      run: |
        npm install
        npm run build 
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v1
      with:
        name: drop
        path: ./
        

    
  deploy: 
      needs: build
      runs-on: ubuntu-latest
      steps:
      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
          name: drop
        
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
            
      - name: 'Run Azure webapp deploy action using publish profile credentials'
        uses: azure/webapps-deploy@v1
        with:
          app-name: haaggarw-js
          
